<h3>this is the todo html file</h3>
<!--ul>
	<li>Playingh Game</li>
	<li>Progreaaming</li>
	<li>Aim Programming</li>
	<li>Making Pri=ojects</li>
	<li>Problem solving skills</li>
</ul-->
<ul>
	{%for todo_item in all_items%}
		<li>{{ todo_item.content }}
			<form action="/deltodo/{{todo_item.id}}/"
			style="display: inline;" 	
			method ="post">{% csrf_token %}
				<input type="submit" value="Delete"/>
			</form>
		</li>
	{%endfor%}
</ul>

<form action="/addtodo/" method ="post">{% csrf_token %}
	<input type="text" name='content'/>
	<input type="submit" value="add"/>
</form>
